@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --white: #ffffff;
    --typography: #292931;
    --grey: #f2f2f6;
    --primary: #86973a;
    --secondary: #3b651a;
    --darkGreen: #254907;
    --yellow: #f3b05a;
    --orange: #f4874b;
    --darkOrange: #f46a4e;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    color: var(--typography);
    font-family: 'Inter', sans-serif;
}


main {
    padding: 0 1em;
    max-width: 1080px;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    main {
        padding: 3em;
    }
}


/* HEADER */

.header {
    width: 100%;
    background-color: var(--primary);
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}

.nav-bar svg {
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

.nav-bar>.nav-bar__btn {
    display: none;
}

.nav-bar>.nav-bar__links {
    display: inline;
    float: right;
    font-size: 20px;
}

.nav-bar>.nav-bar__links>a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #efefef;
}

.nav-bar>.nav-bar__links>a:hover {
    color: var(--darkGreen);
    font-weight: 600;
}

.nav-bar>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav-bar {
        height: 60px;
    }

    .nav-bar svg {
        width: 40px;
        height: 40px;
    }

    .nav-bar>.nav-bar__btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav-bar>.nav-bar__btn>label {
        width: 60px;
        height: 60px;
        padding: 18px 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-bar>.nav-bar__btn>label:hover,
    .nav-bar #nav-check:checked~.nav-bar__btn>label {
        background-color: var(--darkGreen);
    }

    .nav-bar>.nav-bar__btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav-bar>.nav-bar__links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--secondary);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }

    .nav-bar>.nav-bar__links>a {
        display: block;
        width: 100%;
        padding: 1em 3em;
    }

    .nav-bar>#nav-check:not(:checked)~.nav-bar__links {
        height: 0px;
    }

    .nav-bar>#nav-check:checked~.nav-bar__links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* FOOTER */

.footer-pages {
    width: 100%;
    background: var(--darkGreen);
}

.pages__data {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    padding: 2em 3em;
    margin: 0 auto;
    gap: 2em;
}

.pages__data a {
    color: var(--white);
}

.pages__data a:hover {
    color: var(--yellow);
}

.personal-info,
.principal-pages,
.categories-pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    text-align: start;
}

.personal-info svg {
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {}

@media (min-width: 768px) {
    .pages__data {
        flex-direction: row;
    }
}


/* General styles */
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}

/* NAV DETAIL */

.detail__submenu {
    margin: 1em 0 2em;
}

.submenu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.submenu__list li {
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 8px;
    color: var(--orange);
}

.submenu__list li a {
    margin-left: 4px;
    color: var(--darkOrange);
}

.submenu__list span {
    margin: 0 4px;
}

@media (hover: hover) {
    .submenu__list li a:hover {
        color: var(--yellow);
    }
}

/* PORTADA */

.home-hero {
    background: linear-gradient(130deg,
            #f3b05a, #f46a4e);
    width: 100vw;
    height: 100vh;
}

.home-hero__wrapper {
    position: relative;
    cursor: pointer;
}


.home-hero__bg-one {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/13.webp');
    background-size: cover;
    background-position: center;

}

.home-hero__bg-two {
    display: none;
}


.home-hero__header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 2em 0;
    position: fixed;
    top: 0;
}

.header__nav-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 0;

}

.nav-items__item {
    color: var(--white);
}

.nav-items__item a {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    margin: 0 8px;
}

.home-hero__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

.home-hero__body h1 {
    font-size: 40px;
    z-index: 20;
}

.home-hero__body h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.body__quote {
    display: none;
}

.home-hero__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    color: var(--white);
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.home-hero__footer span {
    font-size: 14px;
}

@media (hover: hover) {
    .nav-items__item a:hover {
        color: var(--darkOrange);
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .home-hero__bg-two {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../images/8.webp');
        background-size: cover;
        background-position: center;
        transition: 0.6s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    }

    .home-hero__bg-two:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .home-hero__bg-one:hover~.home-hero__bg-two {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .nav-items__item a {
        font-size: 18px;
    }

    .home-hero__body {
        align-items: center;
    }

    .home-hero__body h1 {
        font-size: 85px;
    }

    .home-hero__body h3 {
        font-size: 40px;
    }


    .body__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
    }

    .quote__text {
        position: relative;
        padding: 0.35em 2.5em;
        font-size: 18px;
        font-style: italic;
        line-height: 1.45;
    }

    .quote__text::before {
        position: absolute;
        top: -20px;
        left: -20px;
        display: block;
        padding-left: 8px;
        font-size: 90px;
        content: '\201C';
    }

    .quote__cite {
        display: block;
        margin-top: 5px;
        font-size: 14px;
    }

    .quote__cite::before {
        content: '\2014 \2009';
    }


    .home-hero__footer {
        flex-direction: row;
    }
}